<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Detail Pendaftar</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="container">
    <div class="" sec:authorize = "hasAuthority('VIEW_PENDAFTAR')">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" th:href="@{/detailPendaftar/form}">
                            <button class="btn btn-default active" type="button">Data Detail</button>
                        </a>
                        <a th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}" th:href="@{/detailPendaftar/formS2}">
                            <button class="btn btn-default active" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                </div>
                <form th:action="@{/detailPendaftar/formS2}" method="post" th:object="${pendaftarDetailPasca}" enctype="multipart/form-data">
                    <div class="row" id="printDiv" th:if="${pembayaran} == null">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel tile fixed_height_160">
                                <div class="alert alert-info">
                                    <h2><i class="fa fa-warning"></i> Warning!</h2>
                                    <h5>Untuk melanjutkan proses pendaftaran silahkan lakukan pembayaran biaya pendaftaran pada menu "tagihan pendaftaran".</h5>
                                    <a th:href="@{/tagihan/listPendaftar}" class="btn btn-warning"><i class="fa fa-money"></i>&nbsp;Lihat Tagihan</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${pembayaran} != null">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="x_panel tile fixed_height_160">
                                            <h2 class="StepTitle">Data Pribadi</h2>
                                            <h3  th:text="${pendaftar.nomorRegistrasi}"></h3>
                                            <div class="form-horizontal form-label-left">
                                                <div class="col-md-12"><br>
                                                    <div class="row">
                                                        <div class="row col-sm-offset-1 ">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Nama
                                                                    </label>
                                                                    <input type="text" name="nama" disabled
                                                                           class="form-control" th:field="${pendaftar.leads.nama}"
                                                                           placeholder="Nama">
                                                                    <input type="hidden" name="id" th:field="*{id}">
                                                                </div>
                                                            </div>

                                                            <div class="row col-sm-offset-1 ">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label>Program Studi</label>
                                                                        <input type="text" name="nama" disabled
                                                                               class="form-control" th:value="${pendaftar.programStudi.nama} +' - '+ ${pendaftar.konsentrasi}"
                                                                               placeholder="Nama">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Nomor KTP</label>
                                                                    <input type="text" name="noKtp" th:field="*{noKtp}"  class="form-control"
                                                                       required  placeholder="Nomor KTP" >
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Jenis Kelamin</label><br>
                                                                        <select name="jenisKelamin"class="form-control" required th:field="*{jenisKelamin}" id="">
                                                                            <option value="">- Pilih Jenis Kelamin -</option>
                                                                            <option value="PRIA">Laki-Laki</option>
                                                                            <option value="WANITA">Perempuan</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Tempat Lahir</label>
                                                                    <input type="text" name="tempatLahir" id="tempatLahir" th:field="*{tempatLahir}"
                                                                           class="form-control" required placeholder="Tempat Lahir">
                                                                </div>
                                                            </div>


                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Tanggal Lahir</label><br>
                                                                    <input type="date" th:field="*{tanggalLahir}"
                                                                           name="tanggalLahir"class="form-control">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Golongan Darah</label>
                                                                    <select type="text" name="golonganDarah" th:field="*{golonganDarah}"
                                                                            class="form-control" required autofocus>
                                                                        <option value="">-Pilih Golongan Darah-</option>
                                                                        <option value="A">A</option>
                                                                        <option value="B">B</option>
                                                                        <option value="AB">AB</option>
                                                                        <option value="O">O</option>
                                                                    </select>
                                                                </div>
                                                            </div>


                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Agama</label>
                                                                    <select name="agama" class="form-control" th:field="*{agama}" required autofocus>
                                                                        <option value="">-Pilih Agama-</option>
                                                                        <option value="Islam">Islam</option>
                                                                        <option value="Hindu">Hindu</option>
                                                                        <option value="Budha">Budha</option>
                                                                        <option value="Kristen">Kristen</option>
                                                                        <option value="Katholik">Katholik</option>
                                                                        <option value="KongHuCu">Kong Hu Cu</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <hr>

                                                        <div class="row col-sm-offset-1 ">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Alamat Rumah</label>
                                                                    <input type="text" name="alamatRumah" required
                                                                           class="form-control" th:field="*{alamatRumah}"
                                                                           placeholder="Alamat Tempat Tinggal">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Provinsi</label>
                                                                    <input type="text"
                                                                           name="namaProvinsi" id="provinsi"
                                                                           class="form-control" th:field="*{provinsi.nama}"
                                                                           placeholder="Provinsi..." required>
                                                                    <input type="hidden" name="provinsi"  th:field="*{provinsi}" id="idProvinsi">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Kabupaten/Kota</label>
                                                                    <input type="text" id="kabupatenKota" disabled
                                                                           name="namaKabupatenKota" th:field="*{kokab.nama}" class="form-control"
                                                                           placeholder="Kabupaten/Kota..." required>
                                                                    <input type="hidden" name="kokab" th:field="*{kokab}" id="idKabupatenKota">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Kode Pos</label>
                                                                    <input type="number" th:field="*{kodePos}" required
                                                                           name="kodePos" class="form-control"
                                                                           placeholder="Kode Pos">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Negara</label>
                                                                    <input type="text" name="negara" required
                                                                           class="form-control" th:field="*{negara}"
                                                                           placeholder="Asal Negara">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-group">
                                                                        <label class="control-label">Status Sipil</label><br>
                                                                        <select name="statusSipil" th:field="*{statusSipil}" required class="form-control">
                                                                            <option value="">- Status Sipil -</option>
                                                                            <option value="WNI">WNI</option>
                                                                            <option value="WNA">WNA</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                        <hr>
                                                        <div class="row col-sm-offset-1 ">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Pekerjaan</label>
                                                                    <select name="pekerjaan" class="form-control" th:field="*{pekerjaan}" required>
                                                                        <option value="">-Pilih Pekerjaan-</option>
                                                                        <option value="Tidak Bekerja">Tidak Bekerja</option>
                                                                        <option value="PNS (selain Guru, Dosen & Dokter/Medis)">PNS (selain Guru, Dosen & Dokter/Medis)</option>
                                                                        <option value="Guru">Guru</option>
                                                                        <option value="Dosen">Dosen</option>
                                                                        <option value="Dokter/Tenaga Medis">Dokter/Tenaga Medis</option>
                                                                        <option value="TNI/POLRI">TNI/POLRI</option>
                                                                        <option value="Pegawai BUMN">Pegawai BUMN</option>
                                                                        <option value="Pegawai Swasta">Pegawai Swasta</option>
                                                                        <option value="Pengusaha/Wiraswasta">Pengusaha/Wiraswasta</option>
                                                                        <option value="Pengacara/Hakim/Jaksa/Notaris">Pengacara/Hakim/Jaksa/Notaris</option>
                                                                        <option value="Artis/Pekerja Seni">Artis/Pekerja Seni</option>
                                                                        <option value="Lainya ...">Lainnya ...</option>
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Alamat Pekerjaan</label>
                                                                    <input type="text"name="alamatPekerjaan" required
                                                                           class="form-control" th:field="*{alamatPekerjaan}"
                                                                           placeholder="Alamat Pekerjaan...">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Sumber Biaya</label>
                                                                    <select name="sumberBiaya" th:field="*{sumberBiaya}"
                                                                           class="form-control" required>
                                                                        <option value="">-Pilih Sumber Biaya-</option>
                                                                        <option value="Biaya Sendiri">Biaya Sendiri</option>
                                                                        <option value="Biaya dari orang tua">Biaya dari orang tua</option>
                                                                        <option value="Beasiswa dari Pemerintah Indonesia">Beasiswa dari Pemerintah Indonesia</option>
                                                                        <option value="Beasiswa dari BUMN/Perusahaan Nasional">Beasiswa dari BUMN/Perusahaan Nasional</option>
                                                                        <option value="Beasiswa dari Pemerintah Asing">Beasiswa dari Pemerintah Asing</option>
                                                                        <option value="Beasiswa dari Perusahaan/Lembaga Asing">Beasiswa dari Perusahaan/Lembaga Asing</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Asal Pendidikan Sebelumnya</label>
                                                                    <input type="text" name="asalPendidikan"  th:field="*{asalPendidikan}"
                                                                           required class="form-control" placeholder="Asal Pendidikan Sebelumnya ...">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                        <div class="x_panel tile fixed_height_160">
                                            <h2 class="StepTitle">Data Orangtua</h2>
                                            <hr>
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="row col-sm-offset-1 ">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Nama Ayah</label>
                                                                    <input type="text" name="namaAyah" required
                                                                           class="form-control" th:field="*{namaAyah}"
                                                                           placeholder="Nama Ayah">
                                                                </div>
                                                            </div>

                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Nama Ibu</label>
                                                                    <input type="text" name="namaIbu" required
                                                                           class="form-control" th:field="*{namaIbu}"
                                                                           placeholder="Nama Ibu">
                                                                </div>
                                                            </div>


                                                        <h6 class="border-bottom border-gray pb-2 mb-0"></h6>
                                                        <br>
                                                        <center>
                                                            <input th:if="${pendaftarDetailPasca.pendaftar} != null" class="btn btn-primary" type="submit" value="Update">
                                                            <input th:if="${pendaftarDetailPasca.pendaftar} == null" class="btn btn-primary" type="submit" value="Simpan">
                                                            <a th:href="@{/detailPendaftar/formS2}" class="btn btn-primary" role="button">
                                                                <span aria-hidden="true"></span>Batal
                                                            </a>
                                                        </center>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

</body>
</html>
<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "Pilih Salah Satu",
        allowClear: true
    });

    $(".js-example-tags").select2({
        tags: true,
        placeholder: "Pilih Kode Pos",
        allowClear: true
    });

</script>



