<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Jadwal Test</title>
</head>
<th:block layout:fragment="script">
    <script>
        function CheckTest(val){
            var tpa=document.getElementById('TPA');
            var jpa=document.getElementById('JPA');
            if(val=='TPA') {
                tpa.style.display = 'block';
                jpa.style.display = 'none';
            }else if (val == 'JPA') {
                jpa.style.display = 'block';
                tpa.style.display = 'none';
            }else {
                tpa.style.display='none';
                jpa.style.display='none';
            }
        }
    </script>
</th:block>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="container">
    <div class="" sec:authorize = "hasAuthority('VIEW_PENDAFTAR')">
        <div class="x_panel">
            <div class="x_title">
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="btn-toolbar">
                    <div class="btn-group" th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran S1</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default active" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/detailPendaftar/form}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                    <div class="btn-group" th:if="${pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}">
                        <a th:href="@{/dashboardPendaftar}">
                            <button class="btn btn-default" type="button">Form Pendaftaran</button>
                        </a>
                        <a th:href="@{/tagihan/listPendaftar}">
                            <button class="btn btn-default" type="button">Tagihan Pendaftaran</button>
                        </a>
                        <a  th:href="@{/detailPendaftar/formS2}">
                            <button class="btn btn-default" type="button">Data Detail</button>
                        </a>
                        <a th:href="@{/jadwalTest/form}">
                            <button class="btn btn-default active" type="button">Jadwal Test</button>
                        </a>
                        <a th:href="@{/kartuUjian/form}">
                            <button class="btn btn-default" type="button">Cetak Kartu</button>
                        </a>
                        <a th:href="@{/hasilTest/formPendaftar}">
                            <button class="btn btn-default" type="button">Hasil Test</button>
                        </a>
                        <a th:href="@{/daftarUlang/formPendaftar}">
                            <button class="btn btn-default" type="button">Daftar Ulang</button>
                        </a>
                        <a th:href="@{/uploadBerkas/form}">
                            <button class="btn btn-default" type="button">Berkas</button>
                        </a>
                    </div>
                </div>
                <div class="row" id="printDiv" th:if="${pembayaran} == null">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_160">
                            <div class="alert alert-info">
                                <h2><i class="fa fa-warning"></i> Warning!</h2>
                                <h5>Untuk melanjutkan proses pendaftaran silahkan lakukan pembayaran biaya pendaftaran pada menu "tagihan pendaftaran".</h5>
                                <a th:href="@{/tagihan/listPendaftar}" class="btn btn-warning"><i class="fa fa-money"></i>&nbsp;Lihat Tagihan</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="printDiv" th:if="${hasilTest} != null">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_160">
                            <div class="alert alert-info">
                                <h2><i class="fa fa-warning"></i> Warning!</h2>
                                <h5>Anda sudah melakukan test, untuk melihat hasil test silahkan klik.</h5>
                                <a th:href="@{/hasilTest/formPendaftar}" class="btn btn-warning"><i class="fa fa-language"></i>&nbsp;Lihat Hasil Test</a>

                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row" th:if="${pembayaran} != null and ${hasilTest} == null">
                    <form th:action="@{/jadwalTest/form}" th:object="${jadwalTest}" method="post">
                        <input type="hidden" name="id" th:field="*{id}">
                        <input type="hidden" name="pendaftar" th:field="*{pendaftar}">
                        <div class="form-row">
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Jenis Test </label>
                                <select name="jenisTest" th:field="*{jenisTest}" class="form-control" onchange='CheckTest(this.value);'>
                                    <option value="">-Pilih Jenis Test-</option>
                                    <option value="TPA">TPA</option>
                                    <option th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" value="JPA">JPA</option>
                                    <option th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}" value="SMART_TEST">SMART TEST</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 col-xs-12">
                                <label>Tentukan Jadwal Test</label>
                                <input type="date" th:field="*{tanggalTest}" name="tanggalTest" class="form-control">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6" name="JPA"  id="JPA" style="display:none;">
                                <label>Keterangan</label>
                                <p class="text-muted well well-sm no-shadow" style="margin-top: 10px; ">
                                    JPA <br>
                                    Jalur Prestasi Akademik (JPA) adalah salah satu jalur test masuk Institut Tazkia
                                    dengan menggunakan berkas sebagai berikut :
                                    <br>
                                    1. Raport Semester 1 s/d 4 dengan rata-rata nilai min 75 (B), 85 (A) <br>
                                    2. Surat Rekomendasi dari Sekolah <br>
                                    3. Sertifikat Prestasi (jika ada) <br>

                                    Berkas discan dan dikirm via email ke spmb@tazkia.ac.id
                                    dengan subject Berkas JPA (Nama Pendaftar)
                                </p>
                            </div>
                            <div class="col-md-6" name="TPA"  id="TPA" style=" display:none;">
                                <label>Keterangan</label>
                                <p class="text-muted well well-sm no-shadow"  style="margin-top: 10px;">
                                    TPA <br>
                                    Test Potensi Akademik (TPA) adalah salah satu jalur test masuk Institut tazkia
                                    yaitu test tulis sebanyak 100 butir soal yang terdiri dari Matematika,
                                    Bahasa Inggris dan Pendidikan Agama Islam. <br>
                                    Test dilaksanakan secara online dengan sistem Computer Base Test (CBT).
                                </p>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>




