<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Data Jadwal Test</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <a th:href="@{/hasilTest/list}" class="btn btn-warning btn-sm fa fa-folder">&nbsp;Hasil Test</a>
            <div class="x_panel">
                <div class="x_title">
                    <h2>Jadwal Test TPA & JPA</h2>
                    <ul class="nav navbar-right panel_toolbox" role="tablist" >
                        <li style="float: right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>


                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="perbulan">
                        <div class="x_content">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="card" id="tjp">
                                                    <div class="body" sd:page-object="${daftarJadwal}" sd:pagination-qualifier="tjp">
                                                        <form method="get">
                                                            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                                                <div class="input-group">
                                                                    <input type="text" name="nama"
                                                                           class="form-control" th:value="${nama}"
                                                                           placeholder="Cari Nama...">
                                                                    <span class="input-group-btn">
                                                                 <button class="btn btn-info" style="color: white;" type="submit">Cari</button>
                                                            </span>
                                                                </div>
                                                                <span class="pull-right">Show <span sd:page-size-selector="javascript"></span> entries</span>
                                                            </div>
                                                        </form>
                                                        <hr>
                                                        <div class="row">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-striped table-hover">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>No</th>
                                                                        <th>No Registrasi</th>
                                                                        <th>Nama</th>
                                                                        <th>No Handphone</th>
                                                                        <th>Jenis Test</th>
                                                                        <th>Tanggal Test</th>
                                                                        <th>Jenjang</th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    <tr th:each="p,row : ${daftarJadwal}" th:if="${p.jenisTest.SMART_TEST} != ${p.jenisTest}">
                                                                        <td th:text="${(row.index + 1) + (daftarJadwal.number * daftarJadwal.size)}">#</td>
                                                                        <td>
                                                                            <a th:href="@{/hasilTest/form(id= ${p.id}, jdwl='jdwl')}"
                                                                               class="btn btn-success btn-xs fa fa-pencil"
                                                                               th:text="${'&nbsp'+p.pendaftar.nomorRegistrasi}">
                                                                            </a>
                                                                        </td>
                                                                        <td th:text="${p. pendaftar.leads.nama}">10-08-2017</td>
                                                                        <td th:text="${p. pendaftar.leads.noHp}">10-08-2017</td>
                                                                        <td th:text="${p. jenisTest}">10-08-2017</td>
                                                                        <td th:text="${p. tanggalTest}">10-08-2017</td>
                                                                        <td th:text="${p. pendaftar.leads.jenjang}">10-08-2017</td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div sd:pagination-summary="">info</div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-8">
                                                                <nav class="pull-right">
                                                                    <ul class="pagination" sd:pagination="full">
                                                                        <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                                        <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                                    </ul>
                                                                </nav>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--//table//-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title">
                    <h2>Jadwal Test SMART TEST</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li style="float: right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card" id="smartTest">
                                        <div class="body" sd:page-object="${daftarJadwalSt}" sd:pagination-qualifier="smartTest">
                                            <form method="get">
                                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                                    <div class="input-group">
                                                        <input type="text" name="smart"
                                                               class="form-control"
                                                               placeholder="Cari Nama...">
                                                        <span class="input-group-btn">
                                                             <button class="btn btn-info" style="color: white;" type="submit">Cari</button>
                                                        </span>
                                                    </div>
                                                    <span class="pull-right">Show <span sd:page-size-selector="javascript"></span> entries</span>
                                                </div>
                                            </form>
                                            <hr>
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>No Registrasi</th>
                                                            <th>Nama</th>
                                                            <th>Jenis Test</th>
                                                            <th>Tanggal Test</th>
                                                            <th>Asal Sekolah</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr th:each="p,row : ${daftarJadwalSt}">
                                                            <td th:text="${(row.index + 1) + (daftarJadwalSt.number * daftarJadwalSt.size)}">#</td>
                                                            <td>
                                                                <a th:href="@{/hasilTest/form(id= ${p.id}, jdwl='jdwl', smartT='smartT')}"
                                                                   class="btn btn-success btn-xsbtn-xs fa fa-pencil"
                                                                   th:text="${'&nbsp'+p.pendaftar.nomorRegistrasi}">
                                                                </a>
                                                            </td>
                                                            <td th:text="${p. pendaftar.leads.nama}">10-08-2017</td>
                                                            <td th:text="${p. jenisTest}">10-08-2017</td>
                                                            <td th:text="${p. tanggalTest}">10-08-2017</td>
                                                            <td th:text="${p.pendaftar.namaAsalSekolah}">10-08-2017</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div sd:pagination-summary="">info</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <nav class="pull-right">
                                                        <ul class="pagination" sd:pagination="full">
                                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//table//-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>