<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Form Input Jenis Biaya</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">
    <section class="clearfix">
        <form method="POST" th:action="@{/pembayaran/form}"  th:object="${bayar}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_160">
                        <div class="x_title">
                            <h1 style="font-style: normal; font-size: 30px;" th:text="${'Input Pembayaran : '+ bayar.tagihan.pendaftar.leads.nama + ' > ' + bayar.tagihan.jenisBiaya.nama}"></h1>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card">
                                    <div class="row clearfix">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="card">
                                                <div class="body">
                                                    <div class="col-sm-9">
                                                        <div class="form-group">
                                                            <div class="form-line" >
                                                                <label>No. Tagihan </label>
                                                                <input type="hidden" name="tagihan"
                                                                       class="form-control"
                                                                       th:field="*{tagihan}"/><br>
                                                                <span style="font-size: 17px;" th:text="${bayar.tagihan.nomorTagihan}"></span>
                                                                <br>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Cara Bayar</label>
                                                                <select name="caraPembayaran"  class="form-control" required autofocus>
                                                                    <option value="">-Pilih Cara Bayar-</option>
                                                                    <option value="TUNAI">Tunai</option>
                                                                    <option value="TRANSFER">Transfer</option>
                                                                    <option value="VIRTUAL_ACCOUNT">Virtual Account</option>
                                                                    <option value="BEASISWA">Beasiswa</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Bank</label>
                                                                <select name="bank" th:field="*{bank}" class="form-control" required autofocus>
                                                                    <option value="">-Pilih Bank-</option>
                                                                    <option th:each="ins : ${bank}"
                                                                            th:value="${ins.id}"
                                                                            th:text="${ins.namaBank}">Mandiri Syariah</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Nilai</label><br>
                                                                <input type="text" name="nilai"
                                                                       class="form-control"
                                                                       placeholder="Nilai" readonly disaled th:field="*{tagihan.nilai}"/>
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <label>Upload Bukti</label>
                                                                <input type="file" name="fileBukti"
                                                                       class="form-control"
                                                                       placeholder="Upload Bukti" autofocus/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            <div class="form-line">
                                                                <button class="btn btn-md btn-info waves-effect" type="submit">SELESAI</button>
                                                                <a th:href="@{/tagihan/list}" class="btn btn-md btn-danger waves-effect" type="submit">BATAL</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!--//table//-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </section>

</section>

</body>
</html>