<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Perbarui Tagihan Pendaftar</title>
</head>
<body>
<section layout:fragment="main" class="content">
    <div class="row" id="printDiv" >
        <div class="col-md-5 col-sm-5 col-xs-5">
            <div class="x_panel tile fixed_height_160">
                <!-- info row -->
                <!-- /.row -->
                <div class="row">
                    <div class="col-xs-12 invoice-header">
                        <h3>
                            Tagihan Daftar Ulang
                        </h3>
                    </div>
                </div>
                <div class="row invoice-info" >
                    <div class="col-sm-12 invoice-col">
                        <address>
                            <table class="tabs-left" >
                                <tr>
                                    <td width="160px">Nama</td>
                                    <td width="8px">:</td>
                                    <td th:text="${pendaftar.leads.nama +' - '+ pendaftar.nomorRegistrasi}">Haffizh</td>
                                </tr>
                                <tr>
                                    <td width="160px">Program Studi</td>
                                    <td width="8px">:</td>
                                    <td th:text="${pendaftar.programStudi.nama +' - '+ pendaftar.konsentrasi}">Akutansi Syariah</td>
                                </tr>
                                <tr style="font-weight: bold">
                                    <td width="160px">Keterangan Diskon</td>
                                    <td width="8px">:</td>
                                    <td th:text="${hasilTest.keterangan}">50%</td>
                                </tr>
                                <tr style="font-weight: bold">
                                    <td width="160px">Nomor Tagihan</td>
                                    <td width="8px">:</td>
                                    <td th:text="${tagihan.nomorTagihan}">Rp. 16.000.000</td>
                                </tr>
                                <tr style="font-weight: bold">
                                    <td width="160px">Tagihan Awal</td>
                                    <td width="8px">:</td>
                                    <td th:text="${'Rp. ' + #numbers.formatDecimal(tagihan.totalTagihan, 0, 'POINT', 2, 'COMMA') }">Rp. 16.000.000</td>
                                </tr>
                                <tr style="font-weight: bold">
                                    <td width="160px">Jumlah Cicilan</td>
                                    <td width="8px">:</td>
                                    <td th:text="${tagihan.cicilan+'x Cicilan'}">1x Cicilan</td>
                                </tr>
                                <tr th:if="${cicilan != null}" style="font-weight: bold">
                                    <td width="160px">Nominal Cicilan</td>
                                    <td width="8px">:</td>
                                    <td th:text="${'Rp. ' + #numbers.formatDecimal(cicilan.nominal, 0, 'POINT', 2, 'COMMA') }">Rp.800.000</td>
                                </tr>
                            </table>
                        </address>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-7">
            <div class="x_panel tile fixed_height_160">
                <div class="row">
                    <form th:action="@{/tagihan/editDetailTagihan}" th:object="${editDuDto}" method="post">
                        <div class="col-xs-12 invoice-header">
                            <h3>
                                Perbarui Tagihan Daftar Ulang
                            </h3>
                                <input type="hidden" th:value="${tagihan.id}" name="tagihan">
                                <input type="hidden" th:value="${pendaftar.id}" name="idPendaftar">
                                <input type="hidden" th:value="${hasilTest.id}" name="idHasilTest">
                            <div class="form-group col-md-12">
                                <label for="totalTagihan">Total Tagihan</label>
                                <input type="text" required class="form-control" id="totalTagihan" name="totalTagihan">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="jumlahCicilan">Jumlah Cicilan</label>
                                <select class="form-control" required id="jumlahCicilan" name="cicilan">
                                    <option value="1">1x</option>
                                    <option value="2">2x</option>
                                    <option value="3">3x</option>
                                    <option value="4">4x</option>
                                    <option value="48">48x</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label>Konsentrasi</label>
                                <select name="konsentrasi"  th:if="${pendaftar.leads.jenjang.S1 == pendaftar.leads.jenjang}"  class="form-control" required autofocus th:value="${pendaftar.konsentrasi}">
                                    <option value="">-Pilih Konsentrasi-</option>
                                    <option value="Reguler" >Reguler(S1)</option>
                                    <option value="Beasiswa">Beasiswa (S1)</option >
                                </select>
                                <select name="konsentrasi" th:if="*{pendaftar.leads.jenjang.S2 == pendaftar.leads.jenjang}"  class="form-control" required autofocus th:value="${pendaftar.konsentrasi}">
                                    <option value="">-Pilih Konsentrasi-</option>
                                    <option value="Reguler" >Reguler(S2)</option >
                                    <option value="Eksekutif" >Eksekutif(S2)</option >
                                </select>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="keterangan">Keterangan</label>
                                <input type="text" required class="form-control" id="keterangan" name="keterangan">
                            </div>
                            <div class="form-group col-md-12" align="right">
                                <button class="btn btn-md btn-info waves-effect" type="submit">Update Tagihan</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</section>
</body>
<th:block layout:fragment="script">
    <script>
        document.getElementById("doPrint").addEventListener("click", function() {
            var printContents = document.getElementById('printDiv').innerHTML;
            var originalContents = document.body.innerHTML;
            document.body.innerHTML = printContents;
            window.print();
            document.body.innerHTML = originalContents;
        });
    </script>
</th:block>

</html>