<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Generate Nim</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="container">
    <div class="row" sec:authorize="hasAuthority('VIEW_PENDAFTAR')">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title" style="color: black">
                    <h1>Data Nim
                    </h1>
                    <div class="clearfix"></div>
                </div>
                <div class="row" th:if="${detail.nim} == null">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel tile fixed_height_160">
                            <div class="alert alert-info">
                                <h2><i class="fa fa-warning"></i> Warning!</h2>
                                <h5>Nim belum tersedia, lengkapi data detail terlebih dahulu</a></h5>
                                <a th:href="@{/detailPendaftar/form}" class="btn btn-warning"><i class="fa fa-credit-card"></i>&nbsp;Data detail</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix"  style="color: black" th:if="${detail.nim} != null">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="body">
                            <div class="row" th:if="${(detail != null)}">
                                <div class="col-sm-9">
                                    <div class="table-responsive">
                                        <table class="table table-responsive">
                                            <tr>
                                                <td width="20%">No Registrasi</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.nomorRegistrasi}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Nama</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.leads.nama}" ></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">No Hp</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.leads.noHp}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Email</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.leads.email}"></span>
                                                </td>
                                            </tr>
                                            <tr th:if="${detail.pendaftar.leads.jenjang} == ${detail.pendaftar.leads.jenjang.S1}">
                                                <td width="20%">Asal Sekolah</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.namaAsalSekolah}"></span>
                                                </td>
                                            </tr>
                                            <tr th:if="${detail.pendaftar.leads.jenjang} == ${detail.pendaftar.leads.jenjang.S2}">
                                                <td width="20%">Asal Universitas</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.asalPendidikan}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">Program Studi</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <span th:text="${detail.pendaftar.programStudi.nama}"></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="20%">NIM</td>
                                                <td width="10px">:</td>
                                                <td>
                                                    <b><span th:text="${detail.nim}"></span></b>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>