<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="UTF-8">
    <title>Data Peserta Course</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile fixed_height_160">
                <div class="x_title">
                    <h1>Data Peserta Course</h1>
                    <div class="clearfix"></div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="body">
                                            <form th:action="@{/sitin/migrasi}" method="post">
                                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-left top_search">
                                                    <button class="btn btn-info" style="color: white;" type="submit">Sync Elearning</button>
                                                </div>
                                            </form>
                                            <form method="get">
                                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                                    <div class="input-group">
                                                        <input type="text" name="nama"
                                                               class="form-control"
                                                        placeholder="Cari Nama...">
                                                        <span class="input-group-btn">
                                                             <button class="btn btn-info" style="color: white;" type="submit">Cari</button>
                                                        </span>
                                                    </div>
                                                    <span class="pull-right">Show <span sd:page-size-selector="javascript"></span> entries</span>
                                                </div>
                                            </form>
                                            <hr>
                                            <div class="row">
                                                <div class="table-responsive">
                                                    <table class="table table-bordered table-striped table-hover">
                                                        <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Nama</th>
                                                            <th>Email</th>
                                                            <th>No Handphone</th>
                                                            <th>Course</th>
                                                            <th>Dosen Course</th>
                                                            <th>Tagihan</th>
                                                            <th>Status Tagihan</th>
                                                            <th>Keterangan</th>
                                                            <th colspan="1">&nbsp;</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr th:each="p, row : ${listPesertaCourse}">
                                                                <td th:text="${(row.index + 1) + (listPesertaCourse.number * listPesertaCourse.size)}">#</td>
                                                                <td th:text="${p. nama}">muamalah</td>
                                                                <td th:text="${p.email}">muamalah</td>
                                                                <td th:utext="${p.noHp}">muamalah</td>
                                                                <td th:if="${p.kelas != null}" th:text="${p.course.namaMatakuliah + ' - ' + p.kelas}">muamalah</td>
                                                                <td th:if="${p.kelas == null}" th:text="${p.course.namaMatakuliah}">muamalah</td>
                                                                <td th:text="${p.course.dosen.namaDosen}">muamalah</td>
                                                                <td th:text="${'Rp. ' + #numbers.formatDecimal(p.course.harga, 0, 'POINT', 2, 'COMMA') }">muamalah</td>
                                                                <td th:text="${p.pembayaran}">muamalah</td>
                                                                <td th:text="${p.status}">muamalah</td>

                                                                <td width="100px">
                                                                    <a th:href="@{/sit-in/peserta-course/form(id=${p.id})}"  type="submit" class="btn btn-xs bg-red waves-effec ">Edit</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div sd:pagination-summary="">info</div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <nav class="pull-right">
                                                        <ul class="pagination" sd:pagination="full">
                                                            <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                                                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                                            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                        <!--//table//-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

</body>
</html>
<script>
    function functionAktif() {
        confirm("Aktifkan Kode Referal?");
    }

    function functionNonAktif() {
        confirm("Non Aktifkan Kode Referal?");
    }
</script>