<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->
    <script src="https://cdn.tiny.cloud/1/wufqfih41ktkfbum0o0apdt5m5lqrtr1e3a5zmckyi8dwu44/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: '#mytextarea',
            height:'380'
        });
    </script>
    <meta charset="UTF-8">
    <title>Form Input Course</title>
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section layout:fragment="main" class="clearfix">
<!--    <form th:action="@{/referal/form}" th:object="${referal}" method="post">-->
    <form method="post" th:action="@{/sit-in/course/form}" th:object="${course}" enctype="multipart/form-data">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel tile fixed_height_160">
                    <div class="x_title">
                        <h1>Input Data Course</h1>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div class="card">
                                            <div class="body">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Nama Matakuliah</label>
                                                            <select name="pilihMatkul" id="namaMatkul"
                                                                    class="form-control js-example-placeholder-single" required autofocus><!--th:field="*{programStudi}"-->
                                                                <option value="">-Pilih Matakuliah-</option>
                                                                <option th:each="mat : ${listCourse}"
                                                                        th:value="${mat.idNumberElearning}"
                                                                        th:text="${mat.namaMatakuliah}"
                                                                        th:field="*{namaMatakuliah}">Ekonomi Syariah</option>
                                                            </select>
                                                            <input type="text" hidden name="idElearning" id="idElearning" value="">
                                                            <input type="text" hidden name="namaMatakuliah" id="matkul" value="">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Dosen | </label>
                                                            <a th:href="@{/sit-in/dosen/list}">Tambah</a>
                                                            <select name="dosen"
                                                                    class="form-control js-example-placeholder-single" required autofocus><!--th:field="*{programStudi}"-->
                                                                <option value="">-Pilih Kota-</option>
                                                                <option th:each="ins : ${daftarDosen}"
                                                                        th:value="${ins.id}"
                                                                        th:text="${ins.namaDosen}"
                                                                        th:field="*{dosen}">Ekonomi Syariah</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Cover Image</label>
                                                            <input class="form-control col-md-7 col-xs-12" name="cover" th:field="*{cover}" required type="file">

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Deskripsi</label>
                                                            <textarea id="mytextarea" th:field="*{deskripsi}" name="deskripsi" rows="7"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Tanggal Mulai</label>
                                                            <input type="date" class="form-control" th:field="*{startDate}"
                                                                   name="startDate" required autofocus/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Tanggal Selesai</label>
                                                            <input type="date" class="form-control" th:field="*{endDate}"
                                                                   name="endDate" required autofocus/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <div class="form-line">
                                                            <label>Harga</label>
                                                            <input type="number"
                                                                   class="form-control" disabled name="harga" th:field="*{harga}"
                                                                   placeholder="Gratis" required autofocus/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group alignright">
                                                        <div class="form-line">
                                                            <button class="btn btn-md btn-info waves-effect" type="submit">SELESAI</button>
                                                            <a th:href="@{/sit-in/course/list}" class="btn btn-md btn-danger waves-effect" type="submit">BATAL</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--//table//-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>

</section>

</body>
</html>
<script th:src="@{/js/aplikasi.js}"></script>

<script>
    $(".js-example-placeholder-single").select2({
        placeholder: "- Pilih Salah Satu -",
        allowClear: true
    });

    (function($){
        $('#namaMatkul').select2();

        $('#namaMatkul').on('select2:selecting', function(e){
            console.log('Selecting: ' , e.params.args.data);
            $('#idElearning').val(e.params.args.data.id);
            $('#matkul').val(e.params.args.data.text);
        });

    })(jQuery);
</script>