<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<style type="text/css">
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #1c4189}
</style>
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Seleksi Penerimaan Mahasiswa Baru Institut Tazkia">
    <meta name="author" content="Institut Tazkia">
    <meta name="keywords" content="institut tazkia, kampus ekonomi syariah, kampus swasta terbaik, akuntansi syariah">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/index/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/index/css/owl.theme.default.min.css}">
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/index/img/favicon.png}" type="image/x-icon">
    <!-- my style -->
    <link rel="stylesheet" th:href="@{/index/css/mainstyle.css}">
    <title>Akuntansi Syariah - Institut Tazkia</title>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="/"><img th:src="@{/index/img/logo-header.svg}" alt="logo Institut Tazkia"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-right"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto my-3">
                    <a class="nav-link" href="#about">About</a>
                    <a class="nav-link page-scroll" href="#konsentrasi">Konsentrasi</a>
                    <a class="nav-link page-scroll" href="#proker">Prospek Kerja</a>
                    <a class="nav-link page-scroll" href="#testimoni">Testimoni</a>
                    <a class=" btn btn-blue" th:href="@{/leads/form}">Daftar Sekarang</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navbar -->
    <!-- slider -->
    <div class="main-slider owl-carousel owl-theme">
        <div class="item slider slider-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="heading">
                            <h2>Akuntansi Syariah<br>Institut Tazkia</h2>
<!--                            <p class="lead mt-5">Diskon biaya pendaftaran Rp.50.000,- <br>kode vocher S1AKUN</p>-->
                        </div>
                        <a th:href="@{/leads/form}" class="btn btn-lg btn-white">Daftar Sekarang</a>
                    </div>
                    <div class="col-md-7">
                        <img class="img-fluid" th:src="@{/index/img/study.svg}" alt="study-tazkia">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end slider -->
    <div class="container">
        <!-- about section -->
        <span class="anchor" id="about"></span>
        <div class="row about">
            <div class="col-md-6">
                <h5>Apa itu Program Studi<br>Akuntansi Syariah (AS) ?</h5>
                <div class="divider mb-5 mt-2"></div>
                <p>Program Studi Akuntansi Syariah bertujuan untuk menghasilkan lulusan yang profesional dan kompeten di
                    bidang akuntansi dan keuangan (umum dan Syariah) yang dijiwai dengan nilai-nilai T.A.Z.K.I.A.
                    Kurikulum Program Studi Akuntansi Syariah dirancang secara komprehensif untuk membekali lulusan
                    dengan ilmu dan keahlian di bidang akuntansi, keuangan, dan bisnis yang diintegrasikan dengan
                    nilai-nilai Syariah. Program yang ditawarkan oleh Prodi AS disesuaikan dengan minat dan kompetensi
                    mahasiswa, yaitu kelas regular, internasional, dan Tahfiz Quran, dengan 2 pilihan konsentrasi untuk
                    mahasiswa tingkat akhir, yaitu Audit dan Sistem Informasi.</p>
            </div>
            <div class="col-md-6">
                <img th:src="@{/index/img/lp-mbs1.svg}" alt="about" class="img-fluid">
            </div>
        </div>
        <!-- end about section -->
        <!-- why section -->
        <div class="row why">
            <div class="col-md-5">
                <img th:src="@{/index/img/lp-mbs2.svg}" alt="why" class="img-fluid">
            </div>
            <div class="col-md-7">
                <h5>Kenapa Harus Pilih Program Studi<br>Akuntansi Syariah (AS) ?</h5>
                <div class="divider mb-5 mt-2"></div>
                <p>Prodi Akuntansi Syariah (AS) terakreditasi A oleh BAN-PT sejak tahun 2013, memiliki tenaga pengajar
                    atau dosen dengan latar belakang profesional serta bersertifikasi (SAS, CFP, CIBA, CMA). Kurikulum
                    Prodi AS terintegrasi antara pengetahuan umum akuntansi dan ilmu syariah yang merupakan
                    competitive advantage di tengah meningkatnya perkembangan industri keuangan syariah baik dalam skala
                    nasional maupun global</p>
                <p>Model pembelajaran tidak hanya menekankan pada teori, namun juga praktek
                    yang didukung dengan adanya Laboratorium Akuntansi, Audit, dan Sistem Informasi. Mahasiswa Prodi AS
                    akan dibekali dengan sertifikasi di beberapa bidang strategis, diantaranya
                    Perpajakan (Brevet A & B), Software Akuntansi (Zahir, MYOB), Microsoft Office Specialist (MOS),
                    Sertifikasi Akuntansi Syariah (SAS), Qualified Wealth Planner (QWP) dan Associate Wealth Planner
                    (AWP).</p>
                <a class="btn btn-lg btn-blue mt-3 mb-5" th:href="@{/leads/form}">Daftar Sekarang</a>
            </div>
        </div>
        <!-- end why section -->
    </div>
    <!-- konsentrasi -->
    <span class="anchor" id="konsentrasi"></span>
    <section class="konsentrasi">
        <div class="container text-center">
            <div class="row justify-content-center text-center">
                <div class="col-md-6">
                    <div class="card" style="background-color: #1C314A;">
                        <div class="card-body">
                            <img th:src="@{/index/img/lp-mbs-ico3.svg}" alt="" class="img-fluid my-4" style="height: 100px;">
                            <p class="lead">Konsentrasi Sistem Informasi</p>
                            <a th:href="@{/leads/form}" class="lead"><i
                                    class="fas fa-arrow-right mr-2"></i>Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card" style="background-color: #1C314A;">
                        <div class="card-body">
                            <img th:src="@{/index/img/lp-mbs-ico1.svg}" alt="" class="img-fluid my-4" style="height: 100px;">
                            <p class="lead">Konsentrasi Auditing</p>
                            <a th:href="@{/leads/form}" class="lead"><i
                                    class="fas fa-arrow-right mr-2"></i>Daftar Sekarang</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end konsentrasi -->
    <div class="container">
        <!-- prospek kerja -->
        <span class="anchor" id="proker"></span>
        <div class="row proker">
            <div class="col-md-5">
                <img th:src="@{/index/img/lp-mbs3.svg}" alt="why" class="img-fluid mb-5">
            </div>
            <div class="col-md-7">
                <h5>Prospek Kerja Jurusan<br>Akuntansi Syariah (AS)</h5>
                <div class="divider mb-4 mt-2"></div>
                <ul>
                    <li>Auditor (Internal & Eksternal)</li>
                    <li>Analis Keuangan</li>
                    <li>Perencana atau penasehat keuangan</li>
                    <li>Akuntan Manajemen</li>
                    <li>Konsultan Pajak</li>
                    <li>Akuntan Pemerintah</li>
                    <li>Pengembang Sistem Informasi Akuntansi</li>
                    <li>Analis Sistem</li>
                    <li>IT Auditor</li>
                    <li>Peneliti muda</li>
                    <li>Akademisi</li>
                    <li>Entrepreneur</li>
                </ul>
            </div>
        </div>
        <!-- end prospek kerja -->
        <!-- mata kuliah -->
        <div class="matkul">
            <h5>Mata Kuliah<br>Akuntansi Syariah (AS)</h5>
            <div class="divider mb-5 mt-2"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Akuntansi Keuangan</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Audit</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Sistem Informasi Akuntansi</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Sistem Analisis</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Akuntansi Zakat</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Akuntansi Lembaga Keuangan Syariah</h5>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Akuntansi Sektor Publik</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Perpajakan</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Teori Akuntansi Islam</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Fikih Muamalah</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Usul Fikih</h5>
                    </div>
                    <div class="list-matkul">
                        <h5><i class="fas fa-book-open"></i>Laboratorium Akuntansi</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- end mata kuliah -->
        <!-- testimoni mahasiswa -->
        <span class="anchor" id="testimoni"></span>
        <section class="testimoni-section">
            <h5>Apa kata mahasiswa<br>Akuntansi Syariah (AS)</h5>
            <div class="divider mb-5 mt-2"></div>
            <div class="testimoni owl-carousel owl-theme">
                <div class="item slider">
                    <div class="container">
                        <div class="row vertical-align-middle">
                            <div class="col-md-3">
                                <img class="img-fluid mb-4" th:src="@{/index/img/Novia.jpg}" alt="foto mahasiswa">
                            </div>
                            <div class="col-lg-7 col-md-9">
                                <h3>Novia Lestari</h3>
                                <p>Semester VII</p>
                                <p>Rasanya sangat menyenangkan belajar langsung di kampus Penyedia Pendidikan Keuangan
                                    Syariah terbaik secara global. Belajar langsung dari pakarnya baik seorang akademisi
                                    maupun praktisi dengan Bahasa Inggris dan Arab membuat sistem pembelajaran semakin
                                    menyenangkan sekaligus menantang.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="container">
                        <div class="row vertical-align-middle">
                            <div class="col-md-3">
                                <img class="img-fluid mb-4" th:src="@{/index/img/samsyul.jpg}" alt="foto mahasiswa">
                            </div>
                            <div class="col-lg-7 col-md-9">
                                <h3>Muhammad Syamsul Bahri</h3>
                                <p>Semester V</p>
                                <p>Before joining Islamic Accounting program in Tazkia, I studied Accounting and Finance
                                    in my vocational high school. To further purse my academic goals and to expand my
                                    accounting knowledge and skills, I chose to apply to the Islamic Accounting
                                    International Program in Tazkia Islamic University College and had the privilege of
                                    being awarded the Yayasan Tazkia Cendekia Scholarship. I’ve been a student at Tazkia
                                    Islamic University College since September 2018. During my second year, I’ve learned
                                    part of accounting in Islamic Perspective which is great! As a muslim who interested
                                    in accounting, it gives me value added to understand how Islam comprehensively
                                    ruling material transaction in form of muamalah. I believe Tazkia Islamic University
                                    college offers the best quality education for Islamic Accounting.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item slider">
                    <div class="container">
                        <div class="row vertical-align-middle">
                            <div class="col-md-3">
                                <img class="img-fluid mb-4" th:src="@{/index/img/mutya.jpg}" alt="foto mahasiswa">
                            </div>
                            <div class="col-lg-7 col-md-9">
                                <h3>Mutya Qurratu'ayuni Mustafa</h3>
                                <p>Semester IV</p>
                                <p>Spesialisasi yang ditawarkan oleh program studi akuntansi syariah bukan hanya
                                    memberikan saya kesempatan untuk mendalami ilmu akuntansi syariah, namun juga
                                    membantu saya mengaplikasikannya dalam bidang teknologi. Pembelajaran yang
                                    terintegrasi dengan baik, menjadikan sistem perkuliahan menjadi lebih unik, dan
                                    tentunya sangat kompatibel dengan zaman.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end testimoni mahasiswa -->
        <!-- profil alumni -->
        <h5>Profil Alumni<br>Akuntansi Syariah</h5>
        <div class="divider mb-5 mt-2"></div>
        <div class="profil-alumni owl-carousel owl-theme">
            <div class="item slider">
                <div class="card">
                    <img th:src="@{/index/img/kifti.jpg}" class="card-img-top" alt="photo alumni">
                    <div class="card-body">
                        <h6>Kiftia Indah</h6>
                        <p>Alumni AS 2017</p>
                        <hr>
                        <p class="card-text">Owner Kind. Biastiga</p>
                    </div>
                </div>
            </div>
            <div class="item slider">
                <div class="card">
                    <img th:src="@{/index/img/rifal.jpg}" class="card-img-top" alt="photo alumni">
                    <div class="card-body">
                        <h6>M. Ripal Pauji Suardi</h6>
                        <p>Alumni AS 2018</p>
                        <hr>
                        <p class="card-text">CEO Haus Kavling Syariah</p>
                    </div>
                </div>
            </div>
            <div class="item slider">
                <div class="card">
                    <img th:src="@{/index/img/iqbal.jpg}" class="card-img-top" alt="photo alumni">
                    <div class="card-body">
                        <h6>M. Iqbal Al Ghazali</h6>
                        <p>Alumni AS 2018</p>
                        <hr>
                        <p class="card-text">Functional Consultant ERP Oracle</p>
                    </div>
                </div>
            </div>
            <div class="item slider">
                <div class="card">
                    <img th:src="@{/index/img/selly.jpg}" class="card-img-top" alt="photo alumni">
                    <div class="card-body">
                        <h6>Selly Salaswarti</h6>
                        <p>Alumni AS 2018</p>
                        <hr>
                        <p class="card-text">Accounting Officer PT Jakpro</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end profil alumni -->
    </div>
    <!-- email subscribetion section -->
    <section class="email-subscribe">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <p>Dapatkan Informasi Menarik<br>Seputar Ekonomi dan Bisnis Islam</p>
                    <form action="" method="">
                        <div class="form-row justify-content-center">
                            <div class="col-7">
                                <label class="sr-only" for="email">email</label>
                                <input type="email" class="form-control" id="email" placeholder="Masukan Email Aktif">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn mb-2">SUBSCRIBE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- end email subscribetion section -->
    <!-- footer section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a th:href="@{/}"><img class="img-fluid" th:src="@{/index/img/logo.svg}"
                                alt="logo institut tazkia"></a>
                    </div>
                    <div class="sosial-icon">
                        <a href="https://www.facebook.com/kampustazkia/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/company/tazkia/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/c/TazkiaTV"><i class="fab fa-youtube-square"></i></a>
                        <a href="https://www.instagram.com/tazkiaofficial/"><i class="fab fa-instagram-square"></i></a>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="address">
                        <h5><a
                                href="https://www.google.com/maps/place/STEI+Tazkia/@-6.5679603,106.8466874,16z/data=!4m5!3m4!1s0x0:0xc5ab7788a51fc54b!8m2!3d-6.569154!4d106.84702">kampus
                                Utama</a></h5>
                        <p>Jl. Ir. H. Djuanda No. 78 Sentul City, Bogor 16810<br>Indonesia Telp. +62 (21) 87962291-93
                        </p>
                        <h5><a
                                href="https://www.google.com/maps/place/Kampus+Matrikulasi+STEI+TAZKIA/@-6.5685895,106.7762874,12z/data=!4m8!1m2!2m1!1smatrikulasi+di+dekat+Institut+Tazkia,+Citaringgul,+Bogor,+Jawa+Barat!3m4!1s0x0:0x1e468c4f8f667574!8m2!3d-6.5727201!4d106.7428207">Kampus
                                Matrikulasi</a></h5>
                        <p>Jl. Raya Dramaga Km.7 Dramaga, Bogor 16680<br>Indonesia Telp. +62 (251) 8421076</p>
                        <h5><a href="https://goo.gl/maps/x9Bfm69Lqe9PJtf19">Kampus Tahfizh</a></h5>
                        <p>Jl. Cilember No.156 Cilember, Bogor 16750 Indonesia</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="contact-info">
                        <h5>Kontak Informasi SPMB</h5>
                        <a href="mailto:spmb@tazkia.ac.id"><i class="fas fa-envelope"></i>spmb@tazkia.ac.id</a>
                        <a href="https://wa.me/6282184800600"><i class="fab fa-whatsapp-square"></i>+62 82-18480-0600
                            (Humas Tazkia)</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer section -->
    <!-- sub footer -->
    <div class="container sub-footer text-center">
        <hr>
        <p class="my-5 text-muted">Copyright © 2020 Institut Tazkia. All Right Reserved. Template By <a
                href="https://dofirfauzi.com">Dofir Fauzi</a></p>
    </div>
    <!-- end sub footer -->

    <!-- back to top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
    <!-- end back to top -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
    </script>
    <script th:src="@{/index/js/owl.carousel.min.js}"></script>
    <script th:src="@{/index/js/script.js}"></script>
</body>

</html>