<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SPMB Institut TAZKIA</title>
    <meta name="description" content="SPMB Intitut Tazkia">
    <meta name="keywords" content="SPMB Intitut Tazkia">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/font-awesome.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/imagehover.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/index/css/style.css}">
    <link th:href="@{/css/vendors/font-awesome/css/font-awesome.min.css}" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Mentorth:
    @{/index/ Theme URL: https://bootstrapmade.com/mentor-free-education-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!--Navigation bar-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SPMB<span>TAZKIA</span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/}">Home</a></li>
                <li><a href="#prodi">Program</a></li>
                <li><a href="#periode">Periode</a></li>
                <li><a th:href="@{/smartTest/listIndex}">Smart Test</a></li>
                <li><a href="#contact">Kontak</a></li>
                <li><a th:href="@{/login}">Login</a></li>
                <li class="btn-trial"><a th:href="@{/leads/form}">Buat Akun</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/ Navigation bar-->
    <section>

        <div layout:fragment="content">

            <p>Page Content</p>

        </div>

    </section>

<!--Footer-->
<footer id="footer" class="footer">
    <div class="container text-center">
        <!-- End newsletter-form -->
        <ul class="social-links">
            <li><a href="https://twitter.com/steitazkia/"><i class="fa fa-twitter fa-fw"></i></a></li>
            <li><a href="https://www.facebook.com/humas.steitazkia"><i class="fa fa-facebook fa-fw"></i></a></li>
            <li><a href="https://instagram.com/institut_tazkia/"><i class="fa fa-instagram fa-fw"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCgYgEX95uEHoljswnmiDvYA"><i class="fa fa-youtube fa-fw"></i></a></li>
        </ul>
        ©2019 Institut Tazkia. All rights reserved
        <!--<div class="credits">-->
            <!--&lt;!&ndash;-->
              <!--All the links in the footer should remain intact.-->
              <!--You can delete the links only if you purchased the pro version.-->
              <!--Licensing information: https://bootstrapmade.com/license/-->
              <!--Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Mentor-->
            <!--&ndash;&gt;-->
            <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade.com</a><br>&nbsp;-->
        <!--</div>-->
    </div>
</footer>
<!--/ Footer-->

<script th:src="@{/index/js/jquery.min.js}"></script>
<script th:src="@{/index/js/jquery.easing.min.js}"></script>
<script th:src="@{/index/js/bootstrap.min.js}"></script>
<script th:src="@{/index/js/custom.js}"></script>
<script th:src="@{/index/contactform/contactform.js}"></script>

</body>

</html>