<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<style type="text/css">
    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
    }
    th, td {
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even){background-color: #1c4189}
</style>

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Seleksi Penerimaan Mahasiswa Baru Institut Tazkia">
    <meta name="author" content="Institut Tazkia">
    <meta name="keywords" content="institut tazkia, kampus ekonomi syariah, kampus swasta terbaik">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- owl carousel -->
    <link rel="stylesheet" th:href="@{/index/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/index/css/owl.theme.default.min.css}">
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/index/img/favicon.png}" type="image/x-icon">
    <!-- my style -->
    <link rel="stylesheet" th:href="@{/index/css/mainstyle.css}">
        <title>KPI - SPMB Institut Tazkia</title>
    </head>

    <body>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg sticky-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img th:src="@{/index/img/logo-header.svg}" alt="logo Institut Tazkia">
                </a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <i class="fas fa-align-right"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ml-auto my-3">
                        <a class="nav-link" href="#about">About</a>
                        <a class="nav-link page-scroll" href="#proker"
                            >Prospek Kerja</a
                        >
                        <a class="nav-link page-scroll" href="#testimoni"
                            >Testimoni</a
                        >
                        <a class="btn btn-blue" th:href="@{/leads/form}"
                            >Daftar Sekarang</a
                        >
                    </div>
                </div>
            </div>
        </nav>
        <!-- end navbar -->
        <!-- slider -->
        <div class="main-slider owl-carousel owl-theme">
            <div class="item slider slider-1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="heading">
                                <h2>
                                    Komunikasi & Penyiaran Islam<br />Institut
                                    Tazkia
                                </h2>
                            </div>
                            <a th:href="@{/leads/form}" class="btn btn-lg btn-white">
                                Daftar Sekarang
                            </a>
                        </div>
                        <div class="col-md-7">
                            <img
                                class="img-fluid"
                                th:src="@{/index/img/study.svg}"
                                alt="study-tazkia"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end slider -->
        <div class="container">
            <!-- about section -->
            <span class="anchor" id="about"></span>
            <div class="row about">
                <div class="col-md-7">
                    <h5>
                        Apa itu Program Studi<br />Komunikasi & Penyiaran Islam
                        (KPI) ?
                    </h5>
                    <div class="divider mb-5 mt-2"></div>
                    <p>
                        Program Studi Komunikasi dan Penyiaran Islam (KPI)
                        Institut Tazkia merupakan program studi yang menawarkan
                        kepada para mahasiswa untuk menjadi Moselem
                        Digitalpreneur Communication dan Moslem Practitioner
                        Public Relation untuk menjawab kebutuhan masyarakat
                        postmodern dan digital. Program studi ini merupakan
                        induk dari beberapa ilmu turunannya seperti Periklanan,
                        Penyiaran atau Broadcasting, Jurnalistik, Kajian Media,
                        Public Relation dan Ilmu Dakwah. Pada perkuliahan tahun
                        pertama, mahasiswa akan bertemu dengan beberapa mata
                        kuliah umum seperti pengantar ilmu komunikasi, ilmu
                        dakwah, komunikasi organisasi, komunikasi massa,
                        komunikasi politik dan masih banyak lagi. Tak hanya itu,
                        mahasiswa juga akan belajar mengembangkan
                        keahlian-keahlian lain seperti retorika (public
                        speaking), fotografi, desain grafis, videografi,
                        mengelola sebuah acara, merancang program televisi
                        hingga membuat karya video berupa film pendek.
                    </p>
                </div>
                <div class="col-md-5">
                    <img th:src="@{/index/img/lp-mbs1.svg}" alt="about" class="img-fluid" />
                </div>
            </div>
            <!-- end about section -->
            <!-- why section -->
            <div class="row why">
                <div class="col-md-5">
                    <img th:src="@{/index/img/lp-mbs2.svg}" alt="why" class="img-fluid" />
                </div>
                <div class="col-md-7">
                    <h5>
                        Kenapa Harus Pilih Program Studi<br />Komunikasi &
                        Penyiaran Islam (KPI) ?
                    </h5>
                    <div class="divider mb-5 mt-2"></div>
                    <p>
                        Program studi KPI Tazkia memberikan nilai lebih untuk
                        para mahasiswa dengan nilai Spiritualisasi, Insersi,
                        Modifikasi dan Islamisasi terhadap kurikulum program
                        studi. Dengan diberikannya bekal perspektif keagamaan
                        sangat bermanfaat baik untuk kehidupan pribadinya dan
                        kelak karirnya kedepan, sehingga lebih mampu memahami
                        objek studinya di Indonesia yang mayoritas berpenduduk
                        agama Islam. Sebagai pendukung program studi disediakan
                        fasilitas laboratorium Pusat Pengembangan Teknologi
                        Dakwah yang menaungi Studio TV (Tazkia TV), Studio Radio
                        (Radio Siaran Dakwah), dan Lab Komputer dan Design
                        Grafis. Fasilitas pendukung lainnya disediakan
                        perpustakaan digital yang memadai, dengan dukungan
                        jaringan internet dengan wifi yang handal. Selain
                        lingkungan dan fasilitas yang sangat mendukung, prodi
                        KPI di dukung juga dengan dosen-dosen sebagai praktisi
                        dengan pengalaman dan kepakaran disetiap bidangnya,
                        sehingga memudahkan mahasiswa memahami teori dan praktik
                        dalam industri media dan penyiaran.
                    </p>
                    <a class="btn btn-lg btn-blue my-5" th:href="@{/leads/form}">Daftar Sekarang</a>
                </div>
            </div>
            <!-- end why section -->
        </div>
        <div class="container">
            <!-- prospek kerja -->
            <span class="anchor" id="proker"></span>
            <div class="row proker">
                <div class="col-md-7">
                    <h5>
                        Prospek Kerja Jurusan<br />Komunikasi & Penyiaran Islam
                    </h5>
                    <div class="divider mb-5 mt-2"></div>
                    <p>
                        Prospek kerja lulusan dari Program Studi diantara
                        menjadi : Jurnalistik, Profesional Digital Communication
                        dan Youtuber, Brodcaster TV dan Radio, Praktisi
                        Komunikasi Dakwah, Peneliti Komunikasi Islam dan
                        lainnya. Untuk meningkatkan karir civitas akademika
                        program studi KPI telah terjalin Kerjasama dengan
                        berbagai media massa diantaranya TVRI, Indosar, Trans7,
                        iNews, TV One, RRI, Fajri FM, Republika, Radar Bogor dan
                        Suara Islam
                    </p>
                </div>
                <div class="col-md-5">
                    <img th:src="@{/index/img/lp-mbs3.svg}" alt="why" class="img-fluid mb-5"/>
                </div>
            </div>
            <!-- end prospek kerja -->
            <!-- mata kuliah -->
            <div class="matkul">
                <h5>Mata Kuliah<br />Komunikasi & Penyiaran Islam</h5>
                <div class="divider mb-5 mt-2"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Teori Komunikasi
                                dan Dakwah
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Retorika Public
                                Speaking / Ilmu Khutbah
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Inovasi dan
                                Kreativitas Dakwah Digital
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Event Organizer
                                Manajemen Penyelenggaraan Haji dan Umroh
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Fiqih Digital
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Peradaban Dakwah
                                Nusantara
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Media baru di
                                Dunia Islam
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Komunikasi
                                Multimedia dan Digital Marketing
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Leadership
                                Communication
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Teknik Fotografi
                                dan Sinematografi Komunikasi Brand
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Jurnalistik
                                Multiplatform
                            </h5>
                        </div>
                        <div class="list-matkul">
                            <h5>
                                <i class="fas fa-book-open"></i>Digital Public
                                Relation
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end mata kuliah -->
            <!-- testimoni mahasiswa -->
            <span class="anchor" id="testimoni"></span>
            <section class="testimoni-section">
                <h5>Apa kata mahasiswa<br />Komunikasi & Penyiaran Islam</h5>
                <div class="divider mb-5 mt-2"></div>
                <div class="testimoni owl-carousel owl-theme">
                    <div class="item slider">
                        <div class="container">
                            <div class="row vertical-align-middle">
                                <div class="col-md-3">
                                    <img
                                        class="img-fluid mb-4"
                                        th:src="@{/index/img/sabila.jpg}"
                                        alt="foto mahasiswa"
                                    />
                                </div>
                                <div class="col-lg-7 col-md-9">
                                    <h3>Sabila</h3>
                                    <p>Semester III</p>
                                    <p>
                                        Prodi KPI menjadi jawaban bagi calon
                                        mahasiwa yang menginginkan memberikan
                                        kontribusi sebagai pelaku perubahan di
                                        media Global, karena di KPI IAI Tazkia,
                                        bukan sekedar diajarkan ilmu komunikasi
                                        saja tapi juga nilai akhlaqul karimah
                                        serta nilai ketauhidan
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item slider">
                        <div class="container">
                            <div class="row vertical-align-middle">
                                <div class="col-md-3">
                                    <img
                                        class="img-fluid mb-4"
                                        th:src="@{/index/img/rafly.jpg}"
                                        alt="foto mahasiswa"
                                    />
                                </div>
                                <div class="col-lg-7 col-md-9">
                                    <h3>Rafly</h3>
                                    <p>Semester III</p>
                                    <p>
                                        Prodi Komunikasi Tazkia memberikan
                                        proses pembelajaran yang saya nantikan
                                        selama ini, sesuai dengan minat saya
                                        sebagai entreupreneur, sangat bangga
                                        menjadi mahasiswa IAI Tazkia yang telah
                                        memadukan antara ekonomi Islam dan
                                        komunikasinya
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item slider">
                        <div class="container">
                            <div class="row vertical-align-middle">
                                <div class="col-md-3">
                                    <img
                                        class="img-fluid mb-4"
                                        th:src="@{/index/img/alim.jpg}"
                                        alt="foto mahasiswa"
                                    />
                                </div>
                                <div class="col-lg-7 col-md-9">
                                    <h3>Alim Ariji</h3>
                                    <p>Semester III</p>
                                    <p>
                                        Komunikasi Penyiaran Islam (KPI) ialah
                                        wadah untuk kita belajar berkomunikasi
                                        yang baik dan bisa berbicara di depan
                                        umum dan mempelajari tentang komunikasi
                                        dalam bidang penyiaran dan rektorika yg
                                        di jiwai oleh nilai" Islam.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- end testimoni mahasiswa -->
        </div>
        <!-- footer section -->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="https://spmb.tazkia.ac.id"
                                ><img
                                    class="img-fluid"
                                    th:src="@{/index/img/logo.svg}"
                                    alt="logo institut tazkia"
                            /></a>
                        </div>
                        <div class="sosial-icon">
                            <a href="https://www.facebook.com/kampustazkia/"
                                ><i class="fab fa-facebook-square"></i
                            ></a>
                            <a href="https://www.linkedin.com/company/tazkia/"
                                ><i class="fab fa-linkedin"></i
                            ></a>
                            <a href="https://www.youtube.com/c/TazkiaTV"
                                ><i class="fab fa-youtube-square"></i
                            ></a>
                            <a href="https://www.instagram.com/tazkiaofficial/"
                                ><i class="fab fa-instagram-square"></i
                            ></a>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="address">
                            <h5>
                                <a
                                    href="https://www.google.com/maps/place/STEI+Tazkia/@-6.5679603,106.8466874,16z/data=!4m5!3m4!1s0x0:0xc5ab7788a51fc54b!8m2!3d-6.569154!4d106.84702"
                                    >kampus Utama</a
                                >
                            </h5>
                            <p>
                                Jl. Ir. H. Djuanda No. 78 Sentul City, Bogor
                                16810<br />Indonesia Telp. +62 (21) 87962291-93
                            </p>
                            <h5>
                                <a
                                    href="https://www.google.com/maps/place/Kampus+Matrikulasi+STEI+TAZKIA/@-6.5685895,106.7762874,12z/data=!4m8!1m2!2m1!1smatrikulasi+di+dekat+Institut+Tazkia,+Citaringgul,+Bogor,+Jawa+Barat!3m4!1s0x0:0x1e468c4f8f667574!8m2!3d-6.5727201!4d106.7428207"
                                    >Kampus Matrikulasi</a
                                >
                            </h5>
                            <p>
                                Jl. Raya Dramaga Km.7 Dramaga, Bogor 16680<br />Indonesia
                                Telp. +62 (251) 8421076
                            </p>
                            <h5>
                                <a href="https://goo.gl/maps/x9Bfm69Lqe9PJtf19"
                                    >Kampus Tahfizh</a
                                >
                            </h5>
                            <p>
                                Jl. Cilember No.156 Cilember, Bogor 16750
                                Indonesia
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="contact-info">
                            <h5>Kontak Informasi SPMB</h5>
                            <a href="mailto:spmb@tazkia.ac.id"
                                ><i class="fas fa-envelope"></i
                                >spmb@tazkia.ac.id</a
                            >
                            <a href="https://wa.me/6282184800600"
                                ><i class="fab fa-whatsapp-square"></i>+62
                                821-8480-0600</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- end footer section -->
        <!-- sub footer -->
        <div class="container sub-footer text-center">
            <hr />
            <p class="my-5 text-muted">
                Copyright © 2020 Institut Tazkia. All Right Reserved. Template
                By
                <a href="https://www.instagram.com/dofirfauzi">Dofir Fauzi</a>
            </p>
        </div>
        <!-- end sub footer -->

        <!-- back to top -->
        <button onclick="topFunction()" id="myBtn" title="Go to top">
            <i class="fas fa-arrow-circle-up"></i>
        </button>
        <!-- end back to top -->

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
        </script>
        <script th:src="@{/index/js/owl.carousel.min.js}"></script>
        <script th:src="@{/index/js/script.js}"></script>
    </body>
</html>
