<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NLPDPX3');</script>
    <!-- End Google Tag Manager -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="description" content="Reset Password - SPMB Institut Tazkia">
    <meta name="author" content="Institut Tazkia">
    <meta name="keywords" content="institut tazkia, kampus ekonomi syariah, kampus swasta terbaik">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/index/img/favicon.png}" type="image/x-icon">
    <!-- my style -->
    <link rel="stylesheet" th:href="@{/index/css/mainstyle.css}">
    <title>Reset Password | SPMB Institut Tazkia</title>
</head>

<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NLPDPX3"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="header-devider"></div>
<!-- form buat akun -->
<div class="container">
    <div class="buat-akun">
        <div class="row">
            <div class="col-lg-7 col-md-6">
                <div class="brand">
                    <img class="img-fluid my-3" th:src="@{/index/img/reset-password.svg}" alt="reset password">
                    <h2><strong>Kamu Lupa Password ?</strong></h2>
                    <p>Jangan khawatir, cukup gunakan email kamu untuk reset password</p>
                    <div class="sosial-icon mt-3">
                        <p>Stay connected with us:</p>
                        <a href="https://www.facebook.com/kampustazkia/"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.linkedin.com/company/tazkia/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.youtube.com/c/TazkiaTV"><i class="fab fa-youtube-square"></i></a>
                        <a href="https://www.instagram.com/tazkiaofficial/"><i
                                class="fab fa-instagram-square"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-6">
                <div class="form-area">
                    <h2 class="mb-4">Reset Password</h2>
                    <form method="post" th:action="@{/reset}">
                        <div class="form-group">
                            <label for="email">Masukan Alamat Email :</label>
                            <input type="email" class="form-control py-4" id="email" name="user"
                                   placeholder="masukan email yang telah didaftarkan">
                        </div>
                        <button type="submit" class="btn btn-submit btn-block mb-3 mt-1" name="submit">Reset
                            Password</button>
                    </form>
                    <p class="mb-0">Ingat Password ? <a th:href="@{/login}">Login dsini</a></p>
                    <small><a th:href="@{/}">&larr; Kembali ke beranda</a></small>
                    <small>| Lupa email ?<a href="https://wa.me/628159551299"> Hubungi admin !</a></small>
                    <hr class="mt-4">
                    <h6>Cara Reset Password :</h6>
                    <ol class="pl-3">
                        <li>Masukan email kemudian klik reset password.</li>
                        <li>cek email, kamu akan mendapatkan link untuk merubah password</li>
                        <li>klik link tersebut dan masukan password baru yang kamu inginkan</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end form buat akun -->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js">
</script>
</body>

</html>